<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Word count</h1> 
  <form action="{% url 'count' %}">
    <textarea name="fulltext" id="textar" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Count!"></input>
  </form>
</body>
</html>